@import "variables.css";

* {
  /*outline: red solid 1px;*/
}

/* Fonts */
body {
  line-height: 1.5;
}

h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: var(--font-primary), sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  font-family: var(--font-primary), sans-serif;
  font-weight: bold;
}

h3 {
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  font-family: var(--font-secondary), serif;
  font-weight: normal;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: var(--font-primary), sans-serif;
  font-weight: normal;

  margin-block: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: min(90%, 85rem);
  margin-block: 2rem;
}

@media (min-width: 65rem) {
  section {
    margin-block: 20rem 0;
  }
}
