@import "variables.css";

.hero {
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & .image-container {
    height: 60svh;
    width: 100%;
    margin-top: clamp(-5rem, -6rem, -20svh);
    border-radius: 0 0 50% 50%;
    box-shadow: 0 -0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.3) inset;

    & img {
      height: 100%;
      mix-blend-mode: multiply;
      width: 100%;
      object-fit: cover;
      border-radius: 0 0 50% 50%;
    }
  }

  & .text-container {
    margin: 5rem 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h3 {
      /* Closer to Headline */
      margin-top: -0.2rem;
    }
  }
}
