@import "variables.css";

header {
  /* Colors */
  background-color: var(--color-main2);
  color: var(--color-main1);

  /* Shadow */
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

  /* Follow */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & .header-container {
    /* Size */
    height: 5rem;
    width: min(100% - 1rem, 70rem);

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .logo {
      /* Fonts */
      font-size: 1.25rem;
      font-family: var(--font-primary), serif;
      font-weight: bold;
    }

    & nav {
      width: max(15%, 6rem);
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      font-size: 1.15rem;
    }
  }
}

@media (min-width: 100rem) {
  header {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  }
}
