* {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  min-height: 100svh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
